#!/bin/bash
set -e
cd ${PROJECT_DIR}
# envsubst '${NGINX_UVICORN_ADDRESS}' < /etc/nginx/nginx.conf | tee /etc/nginx/nginx.conf
envsubst '${NGINX_UVICORN_ADDRESS}' < "${PROJECT_DIR}/docker/nginx/nginx.conf" | tee "${PROJECT_DIR}/docker/nginx/nginx.conf"
# exec nginx -g 'daemon off;'
exec nginx -c "${PROJECT_DIR}/docker/nginx/nginx.conf"
